@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  background: #0e0e0e;
  color: #fff;
  height: 100%;
  width: 100%;
  font-family: "Roboto Slab", serif;
}
::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
